body {
    width: 600px;
    margin: auto;
}

div {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.result {
    color: rgb(255, 38, 0);
    font-size: x-large;
}

.footnote {
    color: rgba(0, 0, 255, 0.712);
}