<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DagiCloud</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css')}}" />
 
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
<script src="https://kit.fontawesome.com/0c07a7ba79.js" crossorigin="anonymous"></script>


</head>


<body>

  <section class="header">

  <h2 class="a"> Project: ELB-CFN-WEBSERVER </h2>

 
  <div class="text-box">
    <h1>ACI</h1>
    <p>Acı, bir dert midir ? <br />
        Yoksa tarifsiz bir his mi ?<br />
        Gelirse geldiğine, gönlün tam derinliklerine<br />
        Ruhunun, kalbinin en ince çizgisine<br />
        İşte o zaman, o zaman verir o tarifsiz hüznü <br />
        Büsbütün sardığı bedene </p>
   
</div>
 <!-----Footer   designed by abbabe ©2022-->
<div class="footer">

  <p> designed <i class="fa-brands fa-pagelines"></i> by abbabe </br> <i class="fa-solid fa-copyright"></i> 2022
  </p>

</div>



</section>






</body>

</html>
